fastapi
uvicorn
pydantic
psycopg2-binary
sqlmodel
python-dotenv
pydantic-settings


# Auth and Hashing
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1


# File handling
python-multipart

# Email
fastapi-mail
pydantic[email]

# Websockets
websockets

# === AI Integration ===

# NLP and Summarization
cohere

# Text-to-Speech
pyttsx3

# Speech-to-Text
openai-whisper
pydub 